@charset "utf-8";

.hide{
  width: 0; height: 0;
  font-size: 0; line-height: 0;
  position: absolute;
  visibility: hidden;
}
/* 공통 */
body{
  font: 18px/30px Arial,sans-serif;
  color: #4b4b4b;
}
div#wrap{
  width: 100%;
}
header>div,article>div{
  width: 1320px;
  margin: 0 auto;
}
article{
  padding: 80px 0;
}
article h3{
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 45px;
  text-align: center;
}
article .title{
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 50px;
}
article .text{}

/* header */
#wrap>header{
  padding:20px 0;
  background-color: #242424;
  position: relative;
}
header>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header>div>h1>a{
  font-family: '나눔고딕',sans-serif;
  color: #fff; 
  font-size: 30px;
}
nav>ul>li{
  display: inline-block;
  margin-left: 40px;
}
nav>ul>li>a{
  font-size: 16px;
  color: #fff;
}

/* btn */
header>#btn{
  position: absolute;
  width: 25px; height: 25px;
  right: 90px;
  top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

header>#btn>span{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* box01 */
#box01{
  padding: 0;
  width: 100%;
  height: calc(100vh - 71px);
}
#box01>h3{
  position: absolute;
  left: 50%; top: 50%;
  width: 680px; height: 280px;
  border: 1px solid #fff;
  margin: -140px 0 0 -340px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#box01>h3>span{
  display: block;
}
#box01>ul{
  width: 400%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#box01>ul>li{
  width: 25%;
  text-indent: -9999px;
  background:url('../images/blue.jpg') no-repeat center top;
}
#box>ul>li:nth-child(1){
  /* background-color: pink; */
}
#box01>ul>li:nth-child(2){
  background-image: url(../images/green.jpg);
}
#box01>ul>li:nth-child(3){
  background-image: url(../images/pink.jpg);
}
#box01>ul>li:nth-child(3){
  background-image: url(../images/purple.jpg);
}
#box01>p{
  width: 1320px;
  position: absolute;
  /* background-color: red; */
  /* right: 269px; */
  left: 50%;
  margin-left: -660px;
  /* text-align: right; */
  display: flex;
  justify-content: flex-end;
  bottom: 50px;
}
#box01>p>a{
  display: inline-block;
  width: 18px; height: 18px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 18px;
  text-indent: -9999px;
}

/* box02 */
/* 변칙 */
#box02>div{
  width: 987px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#box02>div>dl{
  width: 270px;
  padding: 156px 0 60px;
  text-align: center;
  color: #fff;
  background:  #9c9491 url('../images/header_icon_03.png') no-repeat center 60px;
}
#box02>div>dl:nth-child(2){background-image: url('../images/header_icon_01.png');}
#box02>div>dl:nth-child(3){background-image: url('../images/header_icon_02.png');}
#box02>div>dl>dt{margin-bottom: 44px;}
#box02>div>dl>dd{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
line-height: 1.5;}

/* box03 */

#box03{
  background-color: #e8e8e8 ;
}
/* 변칙 */
#box03>div{
  width: 1103px;
}
#box03>div>.box{
  /* margin: auto */
  padding-left: 446px;
  position: relative;
}
#box03>div>.box>figure{
  position: absolute;
  left: 0; top: 0;
}

#box03 .box>div>.text{
  margin-bottom: 50px;
}
#box03 .box>div>.btn{
  text-align: right;
}
#box03 .box>div>.btn>button{
  width: 198px;
  height: 54px;
  color: #fff;
  background-color: #9c9491;
  border: none;
  box-sizing: border-box;
  border-radius: 27px;

}

/* box04 */

#box04{}
#box04>div{}
#box04 .box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#box04 .box>div{
  width: 483px;
}
#box04 .box>ul{
  width: 576px;
  overflow: hidden;
}
#box04 .box>ul>li{
  width: 80px; height: 80px;
  margin: 0 8px 16px;
  border: 2px solid #cbc6c5;
  float: left;
  box-sizing: border-box;
  text-indent: -9999px;
  background: url('../images/icon/html5.png') no-repeat center;
}
#box04 .box>ul>li:nth-child(2){background-image: url('../images/icon/html5.png');}
#box04 .box>ul>li:nth-child(3){background-image: url('../images/icon/css3.png');}
#box04 .box>ul>li:nth-child(4){background-image: url('../images/icon/javascript.png');}
#box04 .box>ul>li:nth-child(5){background-image: url('../images/icon/jquery.png');}
#box04 .box>ul>li:nth-child(6){background-image: url('../images/icon/vue.png');}
#box04 .box>ul>li:nth-child(7){background-image: url('../images/icon/react.png');}
#box04 .box>ul>li:nth-child(8){background-image: url('../images/icon/bootstrap.png');}
#box04 .box>ul>li:nth-child(9){background-image: url('../images/icon/git.png');}
#box04 .box>ul>li:nth-child(10){background-image: url('../images/icon/npm.png');}
#box04 .box>ul>li:nth-child(11){background-image: url('../images/icon/typescript.png');}
#box04 .box>ul>li:nth-child(12){background-image: url('../images/icon/sass.png');}



/* 
body{
  background-color: black;
}

#wrap>header{
  background-color: black;
  border-bottom: 1px solid;
}

#wrap>header>div{
  margin-left: 270px;
  margin-right: 270px;
  padding: 0;
  width: 1857px;
  height: 70px;
  background-color: black;
  text-align: center;
  line-height: 20px;
}

#wrap>header>div>h1{
  color: aliceblue;
  font-size: 20px;
  display: block;
  float: left;
}

#wrap>header>div>nav{}

#wrap>header>div>nav>ul{
  margin-left: 685px;
}

#wrap>header>div>nav>ul>li{
  text-indent: 30px;
  color: aliceblue;
  font-size: 15px;
  float: left;
  display: block;
  margin-left: 20px;
  text-align: center;
  
}

article#box01{
  width: 1857px;
  height: 910px;
  background-color: aliceblue;
}

article#box01>h3{
  font-size: 56px;
  text-align: center;
  padding-bottom: 260px;
}

article#box01>h3>span{
  text-indent: 70px;
}

article#box02{
  width: 1857px;
  height: 520px;
  background-color: aliceblue;
}

article#box03{
  width: 1857px;
  height: 640px;
  background-color: #999;
}

article#box03>h3{
  font-size: 40px;
}

article#box04{
  width: 1857px;
  height: 450px;
  background-color: aliceblue;
}

article#box05{
  width: 1857px;
  height: 1290px;
  background-color: #999;
}

article#box05>div#show>div#all>figure>img{
  width: 410px;
  height: 350px;
  display: block;
  float: left;
}

article#box06{
  width: 1857px;
  height: 790px;
  background-color: #666;
} */